<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   xmlns:tools="http://schemas.android.com/tools"
   package="com.example.docbaorss">

   <uses-permission android:name="android.permission.INTERNET" />

   <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">
      <activity android:name=".login.ProfileActivity"
         android:parentActivityName=".view.MainActivity"
         android:theme="@style/AppTheme.ActionBar"
         tools:targetApi="jelly_bean" />
      <activity
         android:name=".login.LoginActivity"
         android:parentActivityName=".view.MainActivity"
         android:theme="@style/AppTheme.ActionBar"
         tools:targetApi="jelly_bean" />
      <activity
         android:name=".login.Register"
         android:parentActivityName=".login.LoginActivity"
         android:theme="@style/AppTheme.ActionBar"
         tools:targetApi="jelly_bean" />
      <activity
         android:name=".view.InforActivity"
         android:parentActivityName=".view.MainActivity"
         android:theme="@style/AppTheme.ActionBarDesign"
         tools:targetApi="jelly_bean" />
      <activity
         android:name=".view.DetailsActivity"
         android:parentActivityName=".view.MainActivity"
         android:theme="@style/AppTheme.ActionBar"
         tools:targetApi="jelly_bean" />
      <activity
         android:name=".view.MainActivity"
         android:theme="@style/AppTheme.NoActionBar">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>
   </application>

</manifest>